#game_board table {
	font-size: 36pt;

	border-collapse:collapse;
	border-color: #1e1e1e;

	margin: 0px auto;
}

#game_board tr {
	border-bottom: 2px solid;
}

#game_board tr:last-child {
	border-bottom: 0px;
}

#game_board td {
	padding-top: 0.2em;
	text-align: center;
	line-height: 0.8em;
	height: 1.1em;
	width: 1.2em;
}

#game_board tr td:first-child { 
	border-right: 2px solid;
}
#game_board tr td:last-child { 
	border-left: 2px solid;
}
